<h2>Consultations</h2>

<table>
    <thead>
        <tr>
            <th style="width: 15%">PatientID</th>
            <th style="width: 15%">DoctorID</th>
            <th style="width: 15%">RoomID</th>
            <th style="width: 15%">Registration Date</th>
            <th style="width: 15%">Consultation Date</th>
        </tr>
    </thead>
<tbody>
<tr *ngFor="let consultation of consultations">
    <td>{{consultations.patientId}}</td>
    <td>{{consultations.doctorId}}</td>
    <td>{{consultations.type}}</td>
    
<!--     <td>{{patient.lastName}}</td>
    <td>{{patient.condition}}</td>  -->
</tr>
</tbody>
</table>
