<h2>Consultations</h2>

<div class="date-picker">
    <label for="select-date">Choose an available date</label>
    <div>
        <select id="select-date" 
                name="select-date" 
                required 
                [(ngModel)]="selectedDate">
            <option *ngFor="let date of dates" 
                    [value]="date">
                {{date}}
            </option>
        </select>
    </div>
</div>
<tr *ngFor="let patient of patients">
    <td>{{patient.firstName}}</td>
    <td>{{patient.lastName}}</td>
    <td>{{patient.condition}}</td> 
    <button (click) = "deletePatient(patient.id)">Delete</button>
</tr>