<h1>All registered patients </h1>
<table>
    <thead>
        <tr>
            <th style="width: 15%">
                FirstName
            </th>
            <th style="width: 15%">
                LastName
            </th>
            <th style="width: 15%">
                Condition
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patients">
            <td>{{patient.id}}, {{patient.firstName}}</td>
            <td>{{patient.lastName}}</td>
            <td>{{patient.condition}}</td> - 
            <a (click) = "deletePatient(patient.id)">Delete </a>
        </tr>
    </tbody>
    <tfoot>

    </tfoot>
</table>